NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_WHATSAPP=+910000000000
NEXT_PUBLIC_ADDRESS="Your address here"
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_google_site_verification_code
JWT_SECRET=your_jwt_secret_key_here
