# ═══════════════════════════════════════
# Hariram Motors — Backend Environment
# ═══════════════════════════════════════

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://bhaudipvirani001_db_user:hariram12345@ac-wiptzrz-shard-00-00.dnftx3q.mongodb.net:27017,ac-wiptzrz-shard-00-01.dnftx3q.mongodb.net:27017,ac-wiptzrz-shard-00-02.dnftx3q.mongodb.net:27017/hariram-motors?ssl=true&replicaSet=atlas-10beg2-shard-0&authSource=admin&retryWrites=true&w=majority&appName=hariramcars

# JWT
JWT_SECRET=hariram-motors-jwt-secret-change-in-production-2024
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dg2aajesb
CLOUDINARY_API_KEY=689427419937935
CLOUDINARY_API_SECRET=Rmiz2YtZHdRHc_DOubUFyB8WJZU

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# Admin Seed
ADMIN_EMAIL=admin@hariramcars.com
ADMIN_PASSWORD=admin123456

